<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Suwasetha | Manage Channelings</title>
        <%- include('components/cssIncludes') %>
    </head>
    <body class="sb-nav-fixed">
        <%- include('layouts/topnavbar') %>
        <div id="layoutSidenav">
            <%- include('layouts/navbar') %>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Channelings</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"><a style="text-decoration: none;" href="/admin/dashboard">Dashboard</a> / Channelings</li>
                        </ol>
                        <div class="mt-1 mb-3">
                            <a href="/admin/channelings/new"><button class="add-new-btn"><i class="fa-solid fa-plus"></i>&nbsp;Add Manual</button></a>
                        </div>
                        <div class="card mb-4">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Chanel no.</th>
                                            <th>Time</th>
                                            <th>Doctor</th>
                                            <th>Patient</th>
                                            <td>Date</td>
                                            <td>Payment State</td>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (channelings.length > 0) {  %>
                                            <% for (const channel of channelings){ %>
                                                <tr>
                                                    <td><%= channel.apoinmentNumber %></td>
                                                    <td><%= channel.time %></td>
                                                    <td>Dr.<%= channel.doctor.firstName + " " + channel.doctor.lastName %></td>
                                                    <td><%= channel.patient.name %></td>
                                                    <td><%= new Date(channel.date).toLocaleDateString() %></td>
                                                    <td>
                                                        <%if (channel.paymentState){ %>
                                                            <span style="background: green; color: white; padding: 3px 8px; border-radius: 5px;">paid</span>
                                                        <% } else { %>
                                                            <span style="background: red; color: white; padding: 3px 8px; border-radius: 5px;">not paid</span>
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                        <a href="/admin/channelings/edit/<%= channel.id %>"><button class="edit-btn"><i class="fa-solid fa-pen-to-square"></i></button></a>
                                                        <form action="/admin/channelings/remove/<%= channel.id %>" method="post" class="action-buttons"><button type="submit" class="delete-btn"><i class="fa-solid fa-trash"></i></button></form>
                                                    </td>
                                                </tr>
                                            <% } %>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="7" style="color: gray; text-align: center;">Channelings not available</td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <%- include('components/jsIncludes') %>
    </body>
</html>
