<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Suwasetha | Manage Contact Messages</title>
        <%- include('components/cssIncludes') %>
    </head>
    <body class="sb-nav-fixed">
        <%- include('layouts/topnavbar') %>
        <div id="layoutSidenav">
            <%- include('layouts/navbar') %>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Contact Messages</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"><a style="text-decoration: none;" href="/admin/dashboard">Dashboard</a> / Contact Messages</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Subject</th>
                                            <th>Message</th>
                                            <th>Contact no.</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (messages.length > 0){ %>
                                            <% for (const message of messages){ %>
                                                <tr>
                                                    <td><%= message.name %></td>
                                                    <td><%= message.email %></td>
                                                    <td><%= message.subject %></td>
                                                    <td><%= message.message %></td>
                                                    <td><%= message.contact %></td>
                                                    <td><span class="<%= message.status ? "status-ok" : "status-false" %>"><%= message.status ? "replied" : "not replied" %></span></td>
                                                    <td>
                                                        <% if (!message.status) { %>
                                                            <form class="action-buttons" action="/admin/contacts/mark/<%= message.id %>" method="post"><button class="edit-btn" type="submit"><i class="fa-solid fa-check-double"></i></button></form>
                                                        <% } %>
                                                        <a href="/admin/contact/reply/<%= message.id %>"><button class="reply-btn"><i class="fa-solid fa-reply"></i></button></a>
                                                        <form class="action-buttons" action="/admin/contacts/remove/<%= message.id %>" method="post"><button class="delete-btn" type="submit"><i class="fa-solid fa-trash"></i></button></form>
                                                    </td>
                                                </tr>
                                            <% } %>
                                        <% }else{ %>
                                            <tr>
                                                <td colspan="6" style="text-align: center; color: gray;">Messages not found</td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <%- include('components/jsIncludes') %>
    </body>
</html>
