<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Suwasetha | Dashboard</title>
        <%- include('components/cssIncludes') %>
    </head>
    <body class="sb-nav-fixed">
        <%- include('layouts/topnavbar') %>
        <div id="layoutSidenav">
            <%- include('layouts/navbar') %>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="text-white text-center mb-4 p-4" style="background: gray;">
                                    <h6>Total Patients</h6>
                                    <h4><%= patients.length %></h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="text-white text-center mb-4 p-4" style="background: gray;">
                                    <h6>Total Doctors</h6>
                                    <h4><%= doctors.length %></h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="text-white text-center mb-4 p-4" style="background: gray;">
                                    <h6>Total Earnings</h6>
                                    <h4>Rs.<%= totalPayment %>/=</h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="text-white text-center mb-4 p-4" style="background: gray;">
                                    <h6>Total Channelings</h6>
                                    <h4><%= channels.length %></h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Area Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Bar Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Recent Channelings
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Chanel no.</th>
                                            <th>Doctor</th>
                                            <th>Patient</th>
                                            <td>Date</td>
                                            <td>Payment State</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (filterdData.length > 0){ %>
                                            <% for (const data of filterdData){ %>
                                                <tr>
                                                    <td><%= data.apoinmentNumber %></td>
                                                    <td>Dr.<%= data.doctor.firstName + " " + data.doctor.lastName %></td>
                                                    <td><%= data.patient.name %></td>
                                                    <td><%= new Date(data.date).toLocaleDateString() %></td>
                                                    <td>
                                                        <%if (data.paymentState){ %>
                                                            <span style="background: green; color: white; padding: 3px 8px; border-radius: 5px;">paid</span>
                                                        <% } else { %>
                                                            <span style="background: red; color: white; padding: 3px 8px; border-radius: 5px;">not paid</span>
                                                        <% } %>
                                                    </td>
                                                </tr>
                                            <% } %>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="5" style="text-align: center; color: gray;">Recent bookings not available</td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <%- include('components/jsIncludes') %>
    </body>
</html>
