<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Suwasetha | Manage Doctors</title>
        <%- include('components/cssIncludes') %>
    </head>
    <body class="sb-nav-fixed">
        <%- include('layouts/topnavbar') %>
        <div id="layoutSidenav">
            <%- include('layouts/navbar') %>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Doctors</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"><a style="text-decoration: none;" href="/admin/dashboard">Dashboard</a> / Doctors</li>
                        </ol>
                        <div class="mt-1 mb-3">
                            <a href=""><button class="add-new-btn"><i class="fa-solid fa-plus"></i>&nbsp;Add New</button></a>
                        </div>
                        <div class="card mb-4">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Contact</th>
                                            <th>Working Hours</th>
                                            <th>Average time per patient</th>
                                            <th>Specialized in</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (doctors.length > 0) {%>
                                            <% for (const doctor of doctors){ %>
                                                <tr>
                                                    <td><%= doctor.firstName + " " + doctor.lastName %></td>
                                                    <td><%= doctor.email %></td>
                                                    <td><%= doctor.contact %></td>
                                                    <td><%= doctor.workingHoursPerDay %> hours</td>
                                                    <td><%= doctor.averageTimePerPatient %> mins</td>
                                                    <td><%= doctor.specializedIn %></td>
                                                    <td>
                                                        <a href="/admin/doctors/edit/<%= doctor.id %>"><button class="edit-btn"><i class="fa-solid fa-pen-to-square"></i></button></a>
                                                        <form action="/admin/doctors/remove/<%= doctor.id %>" method="post" class="action-buttons"><button type="submit" class="delete-btn"><i class="fa-solid fa-trash"></i></button></form>
                                                    </td>
                                                </tr>
                                            <% } %>
                                        <% } else { %>
                                            <tr>
                                                <td style="text-align: center; color: gray;" colspan="7">No doctors found</td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <%- include('components/jsIncludes') %>
    </body>
</html>
