<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Suwasetha | Manage Payments</title>
        <%- include('components/cssIncludes') %>
    </head>
    <body class="sb-nav-fixed">
        <%- include('layouts/topnavbar') %>
        <div id="layoutSidenav">
            <%- include('layouts/navbar') %>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Payments</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"><a style="text-decoration: none;" href="/admin/dashboard">Dashboard</a> / Payments</li>
                        </ol>
                        <div class="mt-1 mb-3">
                            <a href="/admin/payments/new"><button class="add-new-btn"><i class="fa-solid fa-plus"></i>&nbsp;New</button></a>
                        </div>
                        <div class="card mb-4">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Channel number</th>
                                            <th>Patient name</th>
                                            <th>Doctor name</th>
                                            <th>Payed with</th>
                                            <th>Amount</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (channelings.length > 0 && payments.length > 0){ %>
                                            <% for (const channeling of channelings) { %>
                                                <% for (const payment of payments){ %>
                                                    <% if (payment.id == channeling.paymentId){ %>
                                                        <tr>
                                                            <td><%= channeling.apoinmentNumber %></td>
                                                            <td><%= channeling.patient.name %></td>
                                                            <td><%= channeling.doctor ? channeling.doctor.firstName + " " + channeling.doctor.lastName : "Removed" %></td>
                                                            <td><%= payment.method %></td>
                                                            <td>Rs.<%= payment.amount %></td>
                                                            <td>
                                                                <form action="/admin/payments/remove/<%= channeling.id %>/<%= payment.id %>" method="post"><button type="submit" class="delete-btn"><i class="fa-solid fa-trash"></i></button></form>
                                                            </td>
                                                        </tr>
                                                    <% } %>
                                                <% } %>
                                            <% } %>
                                        <% } else { %>
                                            <tr>
                                                <td style="text-align: center; color: gray;" colspan="6">No payments found</td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <%- include('components/jsIncludes') %>
    </body>
</html>
