<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediplus | Contact</title>
    <%- include('components/mainCSS') %>
</head>
<body>
    <%- include('components/preloader') %>
    <%- include('layouts/headerMain') %>

    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="bread-inner">
                <div class="row">
                    <div class="col-12">
                        <h2>Contact Us</h2>
                        <ul class="bread-list">
                            <li><a href="/">Home</a></li>
                            <li><i class="icofont-simple-right"></i></li>
                            <li class="active">Contact Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="contact-us section">
        <div class="container">
            <div class="inner">
                <div class="row"> 
                    <div class="col-lg-6">
                        <div class="contact-us-left">
                            <div id="myMap"></div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="contact-us-form">
                            <h2>Contact With Us</h2>
                            <p>If you have any questions please fell free to contact with us.</p>
                            <form class="form" method="post">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="name" class="name" placeholder="Name" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="email" name="email" class="email" placeholder="Email" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="phone" class="phone" placeholder="Phone" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input type="text" name="subject" class="subject" placeholder="Subject" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <textarea name="message" class="message" placeholder="Your Message" required=""></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group login-btn">
                                            <button class="btn add-contact" type="submit">Send</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-info">
                <div class="row">
                    <div class="col-lg-4 col-12 ">
                        <div class="single-info">
                            <i class="icofont icofont-ui-call"></i>
                            <div class="content">
                                <h3>+(000) 1234 56789</h3>
                                <p>info@company.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12 ">
                        <div class="single-info">
                            <i class="icofont-google-map"></i>
                            <div class="content">
                                <h3>2 Fir e Brigade Road</h3>
                                <p>Chittagonj, Lakshmipur</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12 ">
                        <div class="single-info">
                            <i class="icofont icofont-wall-clock"></i>
                            <div class="content">
                                <h3>Mon - Sat: 8am - 5pm</h3>
                                <p>Sunday Closed</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('layouts/footerMain') %>
    <%- include('components/mainJS') %>
    <script>
        $('.add-contact').click(function (e) { 
            e.preventDefault(); 

            const name = $('.name').val();
            const email = $('.email').val();
            const phone = $('.phone').val();
            const subject = $('.subject').val();
            const message = $('.message').val();

            if (name && email && phone && subject && message){
                $.ajax({
                    type: "post",
                    url: "/contact",
                    data: {
                        name : name,
                        email : email,
                        contact : phone,
                        subject : subject,
                        message : message,
                    },
                    dataType: "json",
                    success: function (response) {
                        $('.name').val("");
                        $('.email').val("");
                        $('.phone').val("");
                        $('.subject').val("");
                        $('.message').val("");

                        showToast("Thanks for contacting us.please stay touch with your email box.", "");
                    }
                });
            }
            else{
                showToast("All fields are required.", "err");
            }

        });

        const showToast = (message, type)=>{
            if (type == "err"){
                Toastify({
                    text: message,
                    duration: 4000,
                    stopOnFocus : true,
                    gravity : "top",
                    position : "center",
                    style : {
                        background : "#f51905",
                        color : "#fff"
                    }
                }).showToast();
            }
            else{
                Toastify({
                    text: message,
                    duration: 4000,
                    stopOnFocus : true,
                    gravity : "top",
                    position : "center",
                    style : {
                        background : "#03a80e",
                        color : "#fff"
                    }
                }).showToast();
            }
        }
    </script>
</body>
</html>