<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suwasetha | Doctors</title>
    <%- include('components/mainCSS') %>
</head>
<body>
    <%- include('components/preloader') %>
    <%- include('layouts/headerMain') %>

    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="bread-inner">
                <div class="row">
                    <div class="col-12">
                        <h2>Doctors</h2>
                        <ul class="bread-list">
                            <li><a href="/">Home</a></li>
                            <li><i class="icofont-simple-right"></i></li>
                            <li class="active">Doctors</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="min-height: 50vh;">

    </div>

    <%- include('layouts/footerMain') %>
    <%- include('components/mainJS') %>
</body>
</html>