<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediplus | Page Not Found</title>
    <%- include('components/mainCSS') %>
</head>
<body>
    <%- include('components/preloader') %>
    <%- include('layouts/headerMain') %>

    <section class="error-page section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-12">
                    <div class="error-inner">
                        <h1>404<span>Oop's  sorry we can't find that page!</span></h1>
                        <p>Aenean eget sollicitudin lorem, et pretium felis. Nullam euismod diam libero, sed dapibus leo laoreet ut. Suspendisse potenti. Phasellus urna lacus</p>
                    </div>
                </div>
            </div>
        </div>
    </section>	

    <%- include('layouts/footerMain') %>
    <%- include('components/mainJS') %>
</body>
</html>