<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediplus | Page Not Found</title>
    <%- include('imports/mainCSS') %>
</head>
<body>
    <%- include('imports/preloader') %>
    <%- include('layouts/headerMain') %>

    <%- include('layouts/footerMain') %>
    <%- include('imports/mainJS') %>
</body>
</html>